<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54176113-3"></script>

  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-54176113-3');
  </script>

  <title>Coronavirus Dashboard</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Live coronavirus dashboard tracker. See data, maps, social media trends, and learn about prevention measures." />
  <meta name="keywords" content="coronavirus, covid-19, tracker, dashboard, preperation, prevention, trends, statistics, data" />

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ncov2019.live/">
  <meta property="og:title" content="Coronavirus Dashboard">
  <meta property="og:description" content="Live coronavirus dashboard tracker. See data, maps, social media trends, and learn about prevention measures.">
  <meta property="og:image" content="/images/thumbnailcorona.jpg">

  <meta name="twitter:title" content="ncov2019.live - Coronavirus Tracker">
  <meta name="twitter:description" content="Live coronavirus dashboard. See data, maps, social media trends, and learn about prevention measures.">
  <meta name="twitter:image" content="/images/thumbnailcorona.jpg">
  <meta name="twitter:creator" content="@jensechu">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <style>
    body {
      background-color: #364061;
    }

    .row {
      margin-bottom: 25px;
    }
  </style>

</head>
