<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coronavirus Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-color: #364061;
        }

        .row {
            margin-bottom: 25px;
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark" style="margin-bottom: 20px; background-color: rgb(26, 26, 26);">
    <a style="color: white; font-size: 20px; font-weight: bolder;" class="navbar-brand" href="/data"><span
            style="padding-bottom: 4px;"><svg style="width: 25px;" aria-hidden="true" focusable="false"
                data-prefix="fas" data-icon="globe" class="svg-inline--fa fa-globe fa-w-16" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                <path fill="currentColor"
                    d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z">
                </path>
            </svg></span> nCoV2019.live</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/data">Data <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link"
                    href="/timeline">Timeline</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/wiki">Wiki</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link"
                    href="/prevention">Prevention</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <div class="container-fluid">
        <div class="col" style="background-color: #445175; width: inherit; border-radius: 25px;">
            <h1 style="color: white; font-size: 45px; text-align: center; padding-top: 15px; font-weight: bolder;">
                <svg style="width: 35px; padding-bottom: 10px;" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="id-card" class="svg-inline--fa fa-id-card fa-w-18" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="currentColor"
                        d="M528 32H48C21.5 32 0 53.5 0 80v16h576V80c0-26.5-21.5-48-48-48zM0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V128H0v304zm352-232c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16zm0 64c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16zm0 64c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16zM176 192c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zM67.1 396.2C75.5 370.5 99.6 352 128 352h8.2c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h8.2c28.4 0 52.5 18.5 60.9 44.2 3.2 9.9-5.2 19.8-15.6 19.8H82.7c-10.4 0-18.8-10-15.6-19.8z">
                    </path>
                </svg>
                About
            </h1>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        <svg style="width: 25px; padding-bottom: 6px" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="question-circle"
                            class="svg-inline--fa fa-question-circle fa-w-16" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z">
                            </path>
                        </svg> Who made this website?</h2>
                    <p style="color: #DFDFEF;">
                        <ol style="color: #DFDFEF; font-size: 20px;">
                            <li>
                                This site was created by <strong>Avi Schiffmann.</strong> I am a high schooler in
                                Washington State, USA.
                            </li>
                            <li>
                                You can email me at coronaviruswebsite@gmail.com.
                            </li>
                            <li>
                                You can find my LinkedIn <a style="color: inherit" target="_blank" href="https://www.linkedin.com/in/avi-schiffmann/"><u>here.</u></a>
                            </li>
                        </ol>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        <svg style="width: 25px; padding-bottom: 6px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users"
                            class="svg-inline--fa fa-users fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 640 512">
                            <path fill="currentColor"
                                d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z">
                            </path>
                        </svg> Collaboration</h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            I collaborated with the subreddits r/China-Flu, r/Coronavirus, and r/Epidemic to make this the official site for updated information.
                        </p>
                        <p style="color: #DFDFEF; font-size: 20px;">
                            If you created something cool and want to add it to the website, email me at coronaviruswebsite@gmail.com.
                        </p>
                        <p style="color: #DFDFEF; font-size: 20px;">
                            Special thanks to my friend Will Hurley for answering any of my questions about developing this website :)
                            You can find his LinkedIn <a style="color: inherit" target="_blank" href="https://www.linkedin.com/in/wjhurley/"><u>here.</u></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom: 25px;">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        <svg style="width: 25px; padding-bottom: 6px;" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="question-circle"
                            class="svg-inline--fa fa-question-circle fa-w-16" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z">
                            </path>
                        </svg> Sources</h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        
                                <a style="color: #DFDFEF; font-size: 20px;"
                            href="https://bnonews.com/index.php/2020/01/the-latest-coronavirus-cases/"><u>BNO
                                News for the data</u></a> <br>
                                <a style="color: #DFDFEF; font-size: 20px;"
                            href="https://www.cdc.gov/"><u>CDC</u></a> <br>
                                <a style="color: #DFDFEF; font-size: 20px;"
                            href="https://www.who.int/"><u>WHO</u></a> <br>
                        <a style="color: #DFDFEF; font-size: 20px;"
                            href="https://www.reddit.com/user/The_Nightbringer"><u>u/The_Nightbringer for the
                                map</u></a> <br>
                                <a style="color: #DFDFEF; font-size: 20px;"
                            href="https://www.reddit.com/user/Fuyuki_Wataru"><u>u/Fuyuki_Wataru for the
                                map</u></a> <br>
                        <a style="color: #DFDFEF; font-size: 20px;"
                            href="https://www.reddit.com/r/China_Flu/"><u>r/China-Flu</u></a> <br>
                            <a style="color: #DFDFEF; font-size: 20px;"
                            href="https://www.reddit.com/r/Coronavirus/"><u>r/Coronavirus</u></a> <br>
                            <a style="color: #DFDFEF; font-size: 20px;"
                            href="https://www.reddit.com/r/epidemic/"><u>r/Epidemic</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>