<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body>
  <%- include('./partials/navigation'); -%>
 
<h1 style="color: white;">The info page is currently down for server maintenance, it will be back up in about an hour</h1>

  <%- include('./partials/scripts'); -%>
</body>

</html>