<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body>
  <%- include('./partials/navigation'); -%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-11 col-sm-12"
        style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto; margin-bottom: 25px;">
        <h2 style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">Quick
          Update</h2>
        <p style="color: #DFDFEF;">
          <h1 style="color: #DFDFEF; font-size: 20px; padding-bottom: 15px;">Hello, this page is currently in maintenance, it will be back up tomorrow morning, a lot of sources changed, and as to not provide inaccurate data, I am temporarily putting this here!</h1>
        </p>
        

      </div>
    </div>
  </div>
  </div>

  <%- include('./partials/scripts'); -%>
</body>

</html>