<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body>
  <%- include('./partials/navigation'); -%>
  <h1 style="color: white;">Info page temporarily down for about an hour for server fixing</h1>

  <%- include('./partials/scripts'); -%>
</body>

</html>