<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body>
  <%- include('./partials/navigation'); -%>
    <div class="container-fluid">
        <div class="col" style="background-color: #445175; width: inherit; border-radius: 25px;">
            <h1 style="color: white; font-size: 45px; text-align: center; padding-top: 15px; font-weight: bolder;">
                <svg style="width: 25px; padding-bottom: 6px;" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="question-circle" class="svg-inline--fa fa-question-circle fa-w-16" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z">
                    </path>
                </svg>
                FAQ
            </h1>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: rgb(101, 221, 155); font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        Q. How fast does the virus spread? What's the R0 (basic reproduction number)?
                    </h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            A. We don't know for sure. There's discrepancy between the number of confirmed cases, and
                            what various reports model and think the actual number of cases is. Extremely preliminary
                            WHO estimates suggest an average r0 slightly higher than that of seasonal influenza to the
                            lower end of the r0 range for SARS. As more and better data become available, this estimate
                            is likely to change.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: rgb(101, 221, 155); font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        Q. Is this 2019-nCoV related to the flu?

                    </h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            A. Unlike the influenza (flu) virus, 2019-nCoV is a new strain of the coronavirus species (i.e.
                            2019-novel CoronaVirus). Pathogens such as SARS and MERS are also part of that species, but
                            we
                            don't know at this time if 2019-nCoV is more or less contagious or severe as those viruses.
<br>
                            This new strain that was previously zoonotic and likely came from a bat reservoir (possibly
                            through an intermediate). There is no evidence at this time that eating animals, live or
                            cooked,
                            was involved in the virus's genetic jump from animals to humans. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: rgb(101, 221, 155); font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        Q. How does the virus transmit? Do I need a N95 respirator instead of a facemask?

                    </h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            A. Although we know that the virus is capable of human-to-human transmission, the exact
                            method
                            of
                            transmission is not well understood. It is most likely spread through droplets (sneezing and
                            coughing), and there is no evidence it is airborne. However, as more information becomes
                            available,
                            this may change.
<br>
                            N95 masks or respirators may offer better protection to the public than facemasks or no mask
                            at
                            all,
                            but evidence is limited. However, we know that handwashing with soap and water, along with
                            other
                            everyday measures, are the best ways to prevent the spread of the virus. Masks are currently
                            recommended only for those caring for suspected or confirmed cases.
<br>
                            Those working in healthcare settings with potential or confirmed 2019-nCoV patients should
                            follow
                            the appropriate biosafety and infection control guidelines.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: rgb(101, 221, 155); font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        Q. How severe is the virus?
                    </h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            A. Currently, about 25% of cases were classified as severe by Chinese health officials. The mortality rate for available data is extremely low and almost exclusively limited to the elderly and those with underlying health conditions. However, due to the limited availability and preliminary nature of current data, it is difficult to know how severe the illness caused by 2019-nCoV really is.
<br>
                            Both the severe case and mortality rates are very likely to decrease or increase significantly as more and better data become available.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: rgb(101, 221, 155); font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        Q. Can I still purchase products from China?

                    </h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            A. Yes, there is no evidence from this or other similar pathogens spread through retail shipments, apart from live animals, of course. (And which would be intercepted at the airport by CDC). All current cases either originated in Wuhan or resulted from close contact with a sick person showing symptoms.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: rgb(101, 221, 155); font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        Q. Do I have the virus?


                    </h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            A. Check whether you:
                            </p>
                            <ul style="color: #DFDFEF; text-align: left; font-size: 20px;">
                                <li>
                                    Have a fever
                                </li>
                                <li>
                                    Are experiencing respiratory illness (coughing, difficulty breathing)
                                </li>
                                <li>
                                    Either travelled to WuHan in the last 14 days before symptom onset, or

                                    in close contact with someone suspected of or confirmed carried 2019-nCoV within the last 14 days before symptom onset.                                </li>
                            </ul>
                            <p style="color: #DFDFEF; font-size: 20px;">
                            If you think you may match the above descriptions, please do contact a doctor immediately.
                                                </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: rgb(101, 221, 155); font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        Q. Is China covering up the number of cases?

                    </h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            A. There is no way to know at this time. The Chinese government does not have a good track record of transparency during outbreaks, and it is currently not releasing detailed case and contact data to international authorities.

                            While suppression of data is certainly possible, it is important to remember that in the first few weeks of epidemics, case totals are almost always significant under-counts. This is especially true for this epidemic for a number of reasons:
                        </p>
                        <ul style="color: #DFDFEF; text-align: left; font-size: 20px;">
                            <li>
                                    The imposition of large-scale quarantine is likely exacerbating the difficulties in counting cases, as these policies typically cause panics, during which residents flee, hide, or overwhelm the clinical facilities in the region — where most testing and case counting occur.

                                </li>
                                <li>
                                    It is also currently flu season, and clinicians may have trouble telling the difference between 2019-nCoV symptoms and those from influenza, rhinovirus, or other pneumonia-causing conditions. This is a reason why many suspected cases may test negative for 2019-nCoV in the lab.

                                </li>
                                <li>
                                    The incubation period for 2019-nCoV is usually around 14 days. While there is no evidence that a person can infect others before they start showing symptoms, this longer incubation timeframe does delay the identification of cases.

                                </li>
                                <li>
                                    Confirming a 2019-nCoV case is currently neither fast nor easy. Chinese and American scientists had to develop new assays and reagents (in layman's terms, a new lab test) to detect the virus in humans. While it was impressive how fast this test was developed (CDC took less than 24 hours), currently only a single lab in China (in Wuhan) and the CDC in Atlanta can run the tests safely. However, CDC has stated they are rapidly manufacturing everything needed for the new tests, and they will soon start shipping them to numerous high-priority labs.

                                </li>
                            </ul>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: rgb(101, 221, 155); font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        Q. Should I be worried?


                    </h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            A. Unless you live in WuHan and the surrounding regions, your risk is low at this time, according to public health officials at CDC. <br>

                            While there are a small, but growing number of cases outside of mainland China, they originated from the WuHan region. This was expected by public health authorities around the world, including those in Hong Kong, WHO, and the US CDC. Sustained transmission from these cases is currently believed to be very unlikely. <br>

                            Transmission on air flights is also very unlikely. Multiple studies found that similar viruses, which spread through droplets from coughing and sneezing like 2019-nCoV, do not spread significantly on airplanes. While epidemiologists and doctors will typically monitor the health of passengers who sat one or two rows around suspected cases, they are just taking a precaution.
                                                </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: rgb(101, 221, 155); font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        Q. Can receiving international mail packages pose a danger of infection?



                    </h2>
                    <div style="text-align: center; padding-bottom: 25px;">
                        <p style="color: #DFDFEF; font-size: 20px;">
                            A. The CDC's stance on this is as follows:

In general, because of the poor survivability of these coronaviruses on surfaces, that’s in the range of hours, there’s likely a very, very, very low if any risk of spread from products or packaging that is shipped over a period of days or weeks in ambient the temperatures.
<br>
So, at this time we can’t fully evaluate the risks from different products that are shipped from china under different conditions, but coronaviruses have generally spread most often by respiratory droplets and there’s no evidence that supports transmission of this coronavirus is associated with imported goods and no cases in the U.S., associated with imported goods.”
                                                </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<%- include('./partials/scripts'); -%>
</body>

</html>
