<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body>
  <%- include('./partials/navigation'); -%>
    <div class="container-fluid">
        <div class="col" style="background-color: #445175; width: inherit; border-radius: 25px;">
            <h1 style="color: white; font-size: 45px; text-align: center; padding-top: 15px; font-weight: bolder;">
                <svg style="width: 35px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="compass"
                    class="svg-inline--fa fa-compass fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 496 512">
                    <path fill="currentColor"
                        d="M225.38 233.37c-12.5 12.5-12.5 32.76 0 45.25 12.49 12.5 32.76 12.5 45.25 0 12.5-12.5 12.5-32.76 0-45.25-12.5-12.49-32.76-12.49-45.25 0zM248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm126.14 148.05L308.17 300.4a31.938 31.938 0 0 1-15.77 15.77l-144.34 65.97c-16.65 7.61-33.81-9.55-26.2-26.2l65.98-144.35a31.938 31.938 0 0 1 15.77-15.77l144.34-65.97c16.65-7.6 33.8 9.55 26.19 26.2z">
                    </path>
                </svg> Preparation
            </h1>
            <div class="row">
                <div class="col-lg-6 col-sm-12 container--wrap center">
                    <p style="color: #DFDFEF;">
                        <p style="color: #DFDFEF; font-size: 20px;">Practical suggestions for how to prepare if
                            Coronavirus becomes a pandemic and affects your local area. <br> Adapted from <a
                                style="color: inherit;"
                                href="https://www.itsjusttheflu.com/survival">itsjusttheflu.com</a>
                        </p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 col-sm-12 container--wrap center">
                    <h2
                        style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        What to prepare</h2>
                    <p style="color: #DFDFEF; font-size: 20px;">The lists below are designed for regular people who live
                        in houses or apartments in or near cities. You don’t need to be a billionaire or a “prepper” to
                        take measures that can improve your safety, health and quality of life through this situation.
                    </p>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12"
                                style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto; height: 560px;">
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Kitchen And Bathrooms</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        Toilet paper
                                    </li>
                                    <li>
                                        Paper towels
                                    </li>
                                    <li>
                                        Napkins
                                    </li>
                                    <li>
                                        Dish soap
                                    </li>
                                    <li>
                                        Dishwasher soap
                                    </li>
                                    <li>
                                        Household cleaner
                                    </li>
                                    <li>
                                        Laundry soap
                                    </li>
                                    <li>
                                        Bleach (unscented pure bleach)
                                    </li>
                                    <li>
                                        Isopropyl Rubbing Alcohol
                                    </li>
                                    <li>
                                        Medical grade disinfectant spray (equivalent to Lysol)
                                    </li>
                                    <li>
                                        Bathroom cleaner products
                                    </li>
                                    <li>
                                        Shaving stuff (note to men: respirator masks only work if you are clean-shaven,
                                        there has to be a tight skin to mask seal)
                                    </li>
                                    <li>
                                        Extras of everything you need refills of
                                    </li>
                                    <li>
                                        Nitrile disposable gloves
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-sm-12"
                                style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto; height: 560px;">
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Canned / Jarred Food</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        Corned beef hash cans
                                    </li>
                                    <li>
                                        Pea soup or bean soup
                                    </li>
                                    <li>
                                        Soup with rice and pasta
                                    </li>
                                    <li>
                                        Chunky beef / veggie stew
                                    </li>
                                    <li>
                                        Canned tuna
                                    </li>
                                    <li>
                                        Canned salmon
                                    </li>
                                    <li>
                                        Other canned food you like
                                    </li>
                                    <li>
                                        Condiments that don’t require refrigeration
                                    </li>
                                    <li>
                                        Pickles and fermented veggies of all kinds
                                    </li>
                                    <li>
                                        Oils you cook with
                                    </li>
                                    <li>
                                        Nut butters
                                    </li>
                                </ul>
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Dairy</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        Hard cheese that doesn’t require refrigeration or lasts a long time
                                    </li>
                                    <li>
                                        Yogurt
                                    </li>
                                    <li>
                                        Butter (you can freeze it)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-sm-12"
                                style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto; height: 560px;">
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Dry Foods</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        Rice - large bag (20 pounds or more)
                                    </li>
                                    <li>
                                        Beans
                                    </li>
                                    <li>
                                        Dry fruit (dates)
                                    </li>
                                    <li>
                                        Raisins
                                    </li>
                                    <li>
                                        Nuts of various kinds
                                    </li>
                                    <li>
                                        Oats
                                    </li>
                                    <li>
                                        Pasta
                                    </li>
                                    <li>
                                        Crackers
                                    </li>
                                    <li>
                                        Flour
                                    </li>
                                    <li>
                                        Baking soda
                                    </li>
                                    <li>
                                        Granola or other cereals
                                    </li>
                                    <li>
                                        Trail mix
                                    </li>
                                </ul>
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Frozen Foods</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        Meats
                                    </li>
                                    <li>
                                        Veggies
                                    </li>
                                    <li>
                                        Snacks
                                    </li>
                                    <li>
                                        Not pizzas or things that take up a lot of room in your freezer
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12"
                                style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto; height: 560px;">
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Vegetables And Fruit</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        Apples
                                    </li>
                                    <li>
                                        Potatoes
                                    </li>
                                    <li>
                                        Rice
                                    </li>
                                    <li>
                                        Beans
                                    </li>
                                    <li>
                                        Dried veggies
                                    </li>
                                    <li>
                                        Other veggies (frozen)
                                    </li>
                                    <li>
                                        Other canned food you like
                                    </li>
                                    <li>
                                        Condiments that don’t require refrigeration
                                    </li>
                                    <li>
                                        Pickles and fermented veggies of all kinds
                                    </li>
                                    <li>
                                        Oils you cook with
                                    </li>
                                    <li>
                                        Nut butters
                                    </li>
                                </ul>
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Pet Supplies</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        Pets have to eat too
                                    </li>
                                    <li>
                                        Also any supplies and medicines they need
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-sm-12"
                                style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto; height: 560px;">
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Prescription Medicines</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        If you can get more than a 1 month supply, stock up a few months on the essentials, even if your insurance company requires you to pay full price for extras beyond your 1 month supply.
                                        <ul>
                                            <li>
                                                Usually your pharmacy will give you a 1 month advance extra “vacation refill” if you tell them you are going on a vacation. Beyond that you can also buy many prescriptions from outside the USA pharmacies (Canada, India, Mexico).
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Antibiotics - helpful if you get a bacterial infection; not a viral infection. Bacterial secondary infections are common results of pneumonia, even viral pneumonia.
                                        <ul>
                                            <li>
                                                If you buy antibiotics without a prescription, you should be highly educated on how and when to use and when not to and also you need to be careful that you are getting safe, non-counterfeit medicine. You also have to know how to deal with the problems antibiotics themselves can cause - such as resistant infections, gut disorders, etc.
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Over-The-Counter (OTC) Medicines And Supplements</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        Supplements - antivirals and immunity boosters
                                    </li>
                                    <li>
                                        Theraflu, Nyquil, Dayquil / medicine for cold and flu
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12"
                                style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto; height: 560px;">
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Money</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        The entire global supply chain is being affected by what is happening in Japan. Within a quarter companies will start reporting losses and missed earnings targets. The stock market will probably react negatively to this news. Reduce exposure to stock markets and even currency fluctuations if you can.
                                    </li>
                                    <li>
                                        Physical cash is not great in this type of situation because it is easily contaminated by the virus in fact.
                                    </li>
                                    <li>
                                        The best form of payment in a pandemic is digital. Make sure you have lots of available credit card credit, money in your bank accounts, Paypal, Venmo etc.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-sm-12"
                                style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto; height: 560px;">
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Survival Food</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        You can buy survival food on Amazon in supplies from weeks to months.
                                    </li>
                                    <li>
                                        Dried or cured meats (hard salami, beef jerky, etc.)
                                    </li>
                                    <li>
                                        Protein bars
                                    </li>
                                    <li>
                                        Laptops
                                    </li>
                                    <li>
                                        Protein powder
                                    </li>
                                </ul>
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Home Defense</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        How will you defend your home / family in the case of things getting really out of hand (anarchy, crime, etc.)?
                                    </li>
                                    <li>
                                        Make sure that if you do have any home defense measures in place, they are locked up very securely so nobody other than you (or other intended parties) can access them.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-sm-12"
                                style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto; height: 560px;">
                                <p style="color: #DFDFEF; font-size: 20px; text-align: center; font-weight: bold;">
                                    Survival Gear</p>
                                <ul style="color: #DFDFEF;">
                                    <li>
                                        N95 respirator masks and/or surgical masks
                                    </li>
                                    <li>
                                        70% isopropyl alcohol disinfectant spray, wipes, liquid
                                    </li>
                                    <li>
                                        Sealed eye protection
                                    </li>
                                    <li>
                                        Water purification tablets or device
                                    </li>
                                    <li>
                                        Survival blankets or sleeping bags
                                    </li>
                                    <li>
                                        Walkie talkies
                                    </li>
                                    <li>
                                        Solar phone charger / battery charger
                                    </li>
                                    <li>
                                        First-Aid Kit
                                    </li>
                                    <li>
                                        Combination locks, padlocks or bike locks
                                    </li>
                                    <li>
                                        Fire starter
                                    </li>
                                    <li>
                                        Gas carton for filling up with extra gas
                                    </li>
                                    <li>
                                        Candles and matches
                                    </li>
                                    <li>
                                        Flashlights
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/scripts'); -%>
</body>

</html>
