<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coronavirus Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-color: #364061;
        }

        .row {
            margin-bottom: 25px;
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark" style="margin-bottom: 20px; background-color: rgb(26, 26, 26);">
    <a style="color: white; font-size: 20px; font-weight: bolder;" class="navbar-brand" href="/data"><span
            style="padding-bottom: 4px;"><svg style="width: 25px;" aria-hidden="true" focusable="false"
                data-prefix="fas" data-icon="globe" class="svg-inline--fa fa-globe fa-w-16" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                <path fill="currentColor"
                    d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z">
                </path>
            </svg></span> nCoV2019.live</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/data">Data <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link"
                    href="/timeline">Timeline</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/wiki">Wiki</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link"
                    href="/prevention">Prevention</a>
            </li>
            <li class="nav-item">
                <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <div class="container-fluid">
        <h1 style="color: white; font-size: 30px; text-align: left; font-weight: bolder; padding-bottom: 10px;">Coronavirus Daily Timeline (GMT)</h1>
        
                                <% for( let i = 0; i < timelineDataSplitArray[0].length; i++ ) { %>
                                    <div class="row">
                                        <div class="col"
                                            style="background-color: #445175; width: inherit; border-radius: 20px; box-shadow: 0 0 30px rgb(58, 68, 100);">
                                        <div style="margin-top: 15px;">
                                            <span style="color: white; font-size: inherit; text-align: center; font-weight: bolder;">
                                                <svg style="width: 35px; padding-bottom: 13px;" aria-hidden="true" focusable="false"
                                                data-prefix="fas" data-icon="broadcast-tower" class="svg-inline--fa fa-broadcast-tower fa-w-20"
                                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                                <path fill="#F65164"
                                                    d="M150.94 192h33.73c11.01 0 18.61-10.83 14.86-21.18-4.93-13.58-7.55-27.98-7.55-42.82s2.62-29.24 7.55-42.82C203.29 74.83 195.68 64 184.67 64h-33.73c-7.01 0-13.46 4.49-15.41 11.23C130.64 92.21 128 109.88 128 128c0 18.12 2.64 35.79 7.54 52.76 1.94 6.74 8.39 11.24 15.4 11.24zM89.92 23.34C95.56 12.72 87.97 0 75.96 0H40.63c-6.27 0-12.14 3.59-14.74 9.31C9.4 45.54 0 85.65 0 128c0 24.75 3.12 68.33 26.69 118.86 2.62 5.63 8.42 9.14 14.61 9.14h34.84c12.02 0 19.61-12.74 13.95-23.37-49.78-93.32-16.71-178.15-.17-209.29zM614.06 9.29C611.46 3.58 605.6 0 599.33 0h-35.42c-11.98 0-19.66 12.66-14.02 23.25 18.27 34.29 48.42 119.42.28 209.23-5.72 10.68 1.8 23.52 13.91 23.52h35.23c6.27 0 12.13-3.58 14.73-9.29C630.57 210.48 640 170.36 640 128s-9.42-82.48-25.94-118.71zM489.06 64h-33.73c-11.01 0-18.61 10.83-14.86 21.18 4.93 13.58 7.55 27.98 7.55 42.82s-2.62 29.24-7.55 42.82c-3.76 10.35 3.85 21.18 14.86 21.18h33.73c7.02 0 13.46-4.49 15.41-11.24 4.9-16.97 7.53-34.64 7.53-52.76 0-18.12-2.64-35.79-7.54-52.76-1.94-6.75-8.39-11.24-15.4-11.24zm-116.3 100.12c7.05-10.29 11.2-22.71 11.2-36.12 0-35.35-28.63-64-63.96-64-35.32 0-63.96 28.65-63.96 64 0 13.41 4.15 25.83 11.2 36.12l-130.5 313.41c-3.4 8.15.46 17.52 8.61 20.92l29.51 12.31c8.15 3.4 17.52-.46 20.91-8.61L244.96 384h150.07l49.2 118.15c3.4 8.16 12.76 12.01 20.91 8.61l29.51-12.31c8.15-3.4 12-12.77 8.61-20.92l-130.5-313.41zM271.62 320L320 203.81 368.38 320h-96.76z">
                                                </path>
                                            </svg>
                                            <span style="font-size: 30px; padding-left: 4px;">
                                                <%= timelineDates[0] %> <%= timelineArrayDates[0][i] %><br>
                                            </span>
                                            </span>
                                            <p style="color: #DFDFEF; margin: 0"><%= timelineDataSplitArray[0][i] %></p>
                                                <p style="margin-bottom: 15px; font-size: 20px;"><a style="color: #DFDFEF;" target="_blank" href="<%= day1[i] %>"><u>Source</u></a></p>
                                        </div>
                                    
                                    </div>
                                </div>
                                <% } %>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>