<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coronavirus Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-color: #364061;
        }

        .row {
            margin-bottom: 25px;
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark" style="margin-bottom: 20px; background-color: rgb(26, 26, 26);">
    <a style="color: white; font-size: 20px; font-weight: bolder;" class="navbar-brand" href="/data"><span style="padding-bottom: 4px;"><svg style="width: 25px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" class="svg-inline--fa fa-globe fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z"></path></svg></span> nCov2019.live</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/data">Data <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/timeline">Timeline</a>
        </li>
        <li class="nav-item">
            <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/prevention">Prevention</a>
          </li>
          <li class="nav-item">
            <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/wiki">Wiki</a>
          </li>
          <li class="nav-item">
            <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/map">Map</a>
          </li>
          <li class="nav-item">
            <a style="color: white; font-size: 20px; font-weight: bolder;" class="nav-link" href="/about">About</a>
          </li>
      </ul>
    </div>
  </nav>

<body>
    <div class="container-fluid">
        <div class="col" style="background-color: #445175; width: inherit; border-radius: 25px;">
            <h1 style="color: white; font-size: 45px; text-align: center; padding-top: 15px; font-weight: bolder;">
                Wiki
            </h1>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        <svg style="color: rgb(248, 245, 64); width: 35px; padding-bottom: 10px;" aria-hidden="true"
                            focusable="false" data-prefix="fas" data-icon="exclamation-triangle"
                            class="svg-inline--fa fa-exclamation-triangle fa-w-18" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z">
                            </path>
                        </svg> Alert</h2>
                    <p style="color: #DFDFEF;">
                        <p style="color: #DFDFEF; font-size: 20px;">Face masks may provide some protection at a
                            population level, but results are inconclusive.</p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        <svg style="width: 25px; padding-bottom: 6px;" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="mask" class="svg-inline--fa fa-mask fa-w-20" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                            <path fill="currentColor"
                                d="M320.67 64c-442.6 0-357.57 384-158.46 384 39.9 0 77.47-20.69 101.42-55.86l25.73-37.79c15.66-22.99 46.97-22.99 62.63 0l25.73 37.79C401.66 427.31 439.23 448 479.13 448c189.86 0 290.63-384-158.46-384zM184 308.36c-41.06 0-67.76-25.66-80.08-41.05-5.23-6.53-5.23-16.09 0-22.63 12.32-15.4 39.01-41.05 80.08-41.05s67.76 25.66 80.08 41.05c5.23 6.53 5.23 16.09 0 22.63-12.32 15.4-39.02 41.05-80.08 41.05zm272 0c-41.06 0-67.76-25.66-80.08-41.05-5.23-6.53-5.23-16.09 0-22.63 12.32-15.4 39.01-41.05 80.08-41.05s67.76 25.66 80.08 41.05c5.23 6.53 5.23 16.09 0 22.63-12.32 15.4-39.02 41.05-80.08 41.05z">
                            </path>
                        </svg> Masks</h2>
                    <p style="color: #DFDFEF;">
                        <ol style="color: #DFDFEF;">
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://www.ijidonline.com/article/S1201-9712%2808%2901008-4/fulltext">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>The First Randomized, Controlled
                                            Clinical Trial of Mask Use in Households to Prevent Respiratory Virus
                                            Transmission</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            This RCT study shows that appropriate and consistent mask use is at least
                                            plausible in reducing influenza transmission.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://annals.org/aim/fullarticle/744899/facemasks-hand-hygiene-prevent-influenza-transmission-households-cluster-randomized-trial">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Facemasks and Hand Hygiene to Prevent
                                            Influenza Transmission in Households: A Cluster Randomized Trial</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            A random cluster trial but includes hand hygiene which is shown to be
                                            effective.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0029744">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Facemasks, Hand Hygiene, and
                                            Influenza among Young Adults: A Randomized Intervention Trial</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            This intervention study compared masks+hand hygiene, masks only, and a
                                            control. Masks only were inconclusive.</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://onlinelibrary.wiley.com/doi/abs/10.1111/risa.13181">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Modeling the Effectiveness of
                                            Respiratory Protective Devices in Reducing Influenza Outbreak</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            This is a risk model showing that if there was 80% compliance with face
                                            masks that an outbreak could be eliminated.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://www.sciencedirect.com/science/article/pii/S1755436516300858?via%3Dihub">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Best for last: Effectiveness of
                                            personal protective measures in reducing pandemic influenza transmission: A
                                            systematic review and meta-analysis</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            Here's a meta-analysis concluding that face masks only are not significantly
                                            protective.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </p>
                </div>
            </div>
            <div class="row" style="padding-bottom: 25px;">
                <div class="col-lg-6 col-sm-12"
                    style="background-color: #445175; width: inherit; border-radius: 25px; box-shadow: 0 0 30px rgb(58, 68, 100); margin: auto;">
                    <h2
                        style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
                        <svg style="width: 25px; padding-bottom: 6px;" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="first-aid" class="svg-inline--fa fa-first-aid fa-w-18"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M0 80v352c0 26.5 21.5 48 48 48h48V32H48C21.5 32 0 53.5 0 80zm128 400h320V32H128v448zm64-248c0-4.4 3.6-8 8-8h56v-56c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v56h56c4.4 0 8 3.6 8 8v48c0 4.4-3.6 8-8 8h-56v56c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8v-56h-56c-4.4 0-8-3.6-8-8v-48zM528 32h-48v448h48c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z">
                            </path>
                        </svg> General Preparedness</h2>
                    <p style="color: #DFDFEF;">
                        <ol style="color: #DFDFEF;">
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://www.cdc.gov/cpr/prepareyourhealth/PlanAhead.htm">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Emergency Plans: More than a
                                            collection of names, phone numbers, and street addresses, an Emergency
                                            Action Plan is an instruction manual for how to stay healthy, stay informed,
                                            and stay in contact in an emergency.</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            Because an Emergency Action Plan
                                            affects everyone in your household, the whole household should be involved
                                            in making and practicing the plan.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://www.cdc.gov/nonpharmaceutical-interventions/pdf/gr-pan-flu-ind-house.pdf">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Get Your Household Ready for Pandemic Flu (another respiratory virus): CDC has developed recommended actions for preventing the spread of flu in household settings.</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            Practice everyday preventive actions at all times. Plan for additional community non-pharmaceutical intervention actions that may be recommended by public health officials, if a flu pandemic occurs. The Before, During, and After sections of this guide offer suggested strategies to help you plan for and implement these recommendations.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://www.ready.gov/food">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Food Following a disaster, there may be power outages that could last for several days.</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            Stock canned foods, dry mixes and other staples that do not require refrigeration, cooking, water or special preparation. Be sure to include a manual can opener and eating utensils.</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://www.cdc.gov/cpr/prepareyourhealth/PersonalNeeds.htm">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Personal Needs Personal needs include provisions, supplies, and equipment necessary to protect the health and safety of your family in an emergency.</u></p>
                                </a>
                            </li>
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://www.cdc.gov/cpr/prepareyourhealth/Prescriptions.htm">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Prescriptions Many people depend on daily medications.</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            Nearly half of Americans take at least one prescription drug, and one in four Americans take three or more medications. A pandemic or large-scale natural disaster, such as a hurricane, could make it difficult to get prescription and over-the-counter medicines so you and your family may need to rely on a prepared emergency supply.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a style="color: #DFDFEF;" target="_blank"
                                    href="https://www.cdc.gov/childrenindisasters/checklists/kids-and-families.html">
                                    <p style="color: #DFDFEF; font-size: 20px;"><u>Emergency Kit Checklist for Kids and Families.</u></p>
                                </a>
                                <ul>
                                    <li>
                                        <p>
                                            An emergency kit has all of the things that you and your family may need during an emergency in which you may have to stay inside for longer than usual or the electricity could go out. Making a family emergency kit can be fun for the family to do together.                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>