body {
    background-color: #364061;
}

.row {
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #dddddd;
}

td,th {
    text-align: left;
    padding: 8px;
}

tr:last-child {
    border: none
}

.dataDesktop {
    display: none;
}
.dataMobile {
    display: block;
}
/* @media only screen and (max-width: 768px) {
.dataDesktop {
    display: none;
}
.dataMobile {
    display: block;
    line-height: 1.5em;
}
} */

.page-wrap {
    max-width: 75rem;
    margin: 0 auto;
}
h1 {
    
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin: 1.25rem 0;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label 
/*, &.not-empty ~ label*/
, textarea:valid ~ label 
/*, &.not-empty ~ label*/
{
    font-size: 0.75em;
    color: #DFDFEF;
    top: -2.25rem;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}
.styled-input {
    float: left;
    width: 33.3333%;
    margin: 2rem 0 1rem;
    position: relative;
}
.styled-input label {
    color: #999;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
}
.styled-input.wide {
    width: 100%;
}
input, textarea {
    padding: 1rem 1rem;
    border: 0;
    width: 100%;
    font-size: 1rem;
}
input ~ span, textarea ~ span {
    display: block;
    width: 0;
    height: 3px;
    background: #E02829;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}
input:focus, textarea:focus {
    outline: 0;
}
input:focus ~ span, textarea:focus ~ span {
    width: 100%;
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}
textarea {
    width: 100%;
    min-height: 15em;
}

